@media only screen and (max-width: 1560px) {
    .main {
      &_container {
        max-width: calc(100% - 50px);
      }

      &_header_container {
        max-width: calc(100% - 40px);
      }
    }
}

@media only screen and (max-width: 1220px) {
  .header {
    .main_header_container {
      gap: 50px;
    }

    &_icons {
      gap: 20px;
    }

    &_top {

      &_btn {
        gap: 25px;
      }

      &_link {
        gap: 25px;
      }
    }

    &_bottom {
      &_link {
        gap: 25px;
      }

      .hidden {
        display: none;
      }
    }
  }

  .product_info {
    .tabs {
      gap: 15px 30px;
      flex-wrap: wrap;
      margin-bottom: 40px;
    }

    .tab {
      font-size: 12px;
      line-height: 14px;
      padding-bottom: 10px;
    }

    .comment {
      &_in {
        gap: 40px;
      }

      &_left {
        padding: 50px;
        min-width: 450px;
      }

      .comment_popular {
        justify-content: space-between;
        gap: 20px;
      }
    }
  }

  .product_information {
    margin-top: 50px;

    .tabs {
      gap: 30px;
      flex-wrap: wrap;
      margin-bottom: 40px;
    }

    .tab {
      font-size: 12px;
      line-height: 14px;
      padding-bottom: 10px;
    }

    .matress {
      padding: 30px 0 0 0;

      .main_container {
        flex-direction: column;
        gap: 30px;
      }

      h6 {
        font-size: 16px;
        line-height: 22px;
        gap: 15px;
      }

      p {
        font-size: 12px;
        line-height: 16px;
      }

      .matress_left {
        gap: 30px;
      }

      .matress_left,
      .matress_right {
        max-width: 100%;
      }

      .matress_right {
        img {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .about {
      .about_in {
        gap: 20px;
      }

      .about_block {
        width: calc(100% / 2 - 10px);
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .catalog_filter {
    .filter_btn {
      padding: 15px 25px;
    }

    .filter_left {
      gap: 10px;
    }

    .select {
      width: 220px;
    }
  }
}

@media only screen and (min-width: 993px) {
  .header {
    .media_menu.active {
      left: -100%;
    }
  }
}

@media only screen and (max-width: 993px) {

  .catalog_filter {
    padding: 30px 0;
    flex-direction: column;
    gap: 10px;

    .select {
      width: 100%;

      .selectBtn {
        padding: 12px 15px;
        height: 40px;
        font-size: 12px;
        line-height: 13px;
      }

      .selectDropdown {
        .option {
          font-size: 12px;
          line-height: 13px;
        }
      }
    }

    .filter_btn {
      padding: 10px;
      font-size: 14px;
      line-height: 17px;
      height: 40px;
    }

  }

  .filter_left {
    flex-direction: column;
  }

  .catalog_block {
    padding: 50px 0;

    .title_container {
      max-width: 100%;
    }

    .catalog_block_title {
      margin-bottom: 0;
    }

    .title_content {
      padding: 0 25px;
    }

    .filter_media_btn {
      display: flex;
    }

    &_title {
      text-align: center;
      border

      .main_title {
        margin-bottom: 20px;
      }

      p {
        font-size: 12px;
        line-height: 13px;
      }
    }

    .catalog_cards {
      gap: 30px;

      .catalog_card {
        width: calc(100% / 2 - 15px);
      }
    }
  }

  .swiper {
    .slider_text {
      gap: 23px;
    }

    h6,
    h5 {
      font-size: 12px;
      max-width: 135px;
      line-height: 13.2px;
    }

    .slider_btn {
      width: 20px;
      height: 20px;

      img {
        width: 4px;
        height: 8px;
      }
    }
  }

  .main {
    &_title {
      font-size: 28px;
      line-height: 30.8px;
    }
  }

  .header {

    &_logo {
      display: flex;
      min-width: auto;
      height: 28px;

      img {
        width: 100%;
      }
    }

    .burger_icon {
      width: 12px;
      height: 12px;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    &_icons {
      gap: 10px;
      a {
        display: flex;
        height: 12px;
      }
    }

    &_top {
      display: none;
    }

    &_bottom {
      padding: 10px 0;
      &_link {
        display: none;
      }
    }
  }

  .catalog {
    display: none;
  }

  .home {
    .home_slide {
      height: 500px;
    }

    .homeSwiper {

      .swiper-pagination {
        top: 16%;
        gap: 6px;
      }

      .swiper-pagination-bullet {
        width: 15px;
        height: 3px;
      }
    }

    h1 {
      font-size: 36px;
      line-height: 39.6px;
    }

    a {
      margin-top: 75px;
      padding: 11px 27px;
    }
  }

  .statistic {
    padding: 48px 0;

    .line {
      display: none;
    }

    &_block {
      max-width: 100%;
      width: calc(100% / 2);

      &:nth-child(4) {
        padding-left: 25px;
      }

      img {
        width: 30px;
        height: 30px;
      }

      h6 {
        margin: 20px 0 10px 0;
        font-size: 12px;
        line-height: 13.2px;
      }

      p {
        font-size: 10px;
        line-height: 11px;
      }
    }

    .start_border {
      padding-bottom: 25px;
      padding-right: 25px;
    }

    .two_border {
      padding-left: 25px;
      padding-bottom: 25px;
      border-left: 1px solid $color-border;
    }

    .three_border {
      padding-right: 25px;
      padding-top: 25px;
      border-top: 1px solid $color-border;
    }

    .end_border {
      padding-top: 25px;
      padding-left: 25px;
      border-top: 1px solid $color-border;
      border-left: 1px solid $color-border;
    }

  }

  .comfortable {
    padding: 50px 0;

    .main_title {
      font-size: 20px;
      line-height: 22px;
    }

    &_content {
      padding: 10px 0;
    }

    p {
      font-size: 12px;
      line-height: 15px;
      margin: 15px 0 50px 0;
    }

    &_card {
      h6 {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 5px;
      }

      span {
        font-size: 12px;
        line-height: 13px;
      }
    }
  }

  .bestsellers {
    padding: 50px 0 24px 0;

    h3 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 25px;
    }

    &_content {
      flex-direction: column;
      align-items: start;
      gap: 10px;
      padding: 10px 0;
    }

    &_card {

      h6 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 5px;
      }

      span {
        font-size: 12px;
        line-height: 13px;
      }

      a {
        font-size: 12px;
        line-height: 14.63px;
        padding: 4.5px;
        width: 100%;
        text-align: center;
      }
    }

    &_btns {
      gap: 18px;
      margin-top: 25px;

      button {
        width: 6px;
        height: 12px;
      }
    }
  }

  .chempion {
    &_img {
      height: 360px;

      img {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
    }

    &_text {
      a {
        padding: 12px 19px;
        font-size: 12px;
        line-height: 14.63px;
      }
    }

    .main_title {
      font-size: 28px;
      line-height: 30.8px;
      margin-bottom: 30px;
    }

  }

  .news {
    padding: 50px 0;

    &_title {
      margin-bottom: 30px;
      justify-content: center;

      .main_title {
        text-align: center;
      }

      a {
        display: none;
      }
    }

    &_in {
      gap: 30px;
    }

    &_card {
      width: calc(100% / 2 - 15px);

      h6 {
        margin: 15px 0 10px 0;
        font-size: 16px;
        line-height: 17.6px;
      }

      p {
        font-size: 12px;
        line-height: 13.2px;
      }
    }
  }

  .office {
    background: $color-blue-dark;

    &_title {
      padding: 50px 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../images/office_media_bg.png');
    }

    .main_title {
      font-size: 28px;
      line-height: 110%;
    }

    p {
      font-size: 14px;
      line-height: 17px;
      margin-top: 15px;
    }
  }

  .partner {
    padding: 50px 0;

    &_logo {
      flex-direction: column;
      gap: 5px;
    }

    .main_title {
      margin-bottom: 48px;
      font-size: 20px;
      line-height: 22px;
    }
  }

  .new {
    padding: 50px 0;

    .main_title {
      margin-bottom: 30px;
    }

    &_card {
      width: calc(100% / 2 - 15px);

      h6 {
        margin: 15px 0 10px 0;
        font-size: 16px;
        line-height: 17.6px;
      }

      p {
        font-size: 12px;
        line-height: 13.2px;
      }
    }

  }

  .product_card_comfortable {
    .main_title {
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 30px;
    }
  }

  .product_info {
    margin-top: 40px;

    .description {

      &_blocks {
        h6 {
          font-size: 16px;
          line-height: 19px;
          margin-bottom: 10px;
        }

        p {
          font-size: 12px;
          line-height: 14px;
        }

        .description_text {
          margin-bottom: 10px;
        }
      }

      .descriptionSwiper {
        margin-top: 30px;

        .swiper-slide {
          height: 190px;
        }
      }
    }

    .certificates {
      flex-direction: column;

      h6 {
        font-size: 16px;
        line-height: 19px;
      }

      p {
        font-size: 12px;
        line-height: 14px;
      }

      ul {
        li {
          font-size: 12px;
          line-height: 14px;
        }
      }

      .certificates_left,
      .certificates_right {
        gap: 30px;
      }

      .certificates_right_block {
        gap: 10px;
      }
    }

    .payment {
      h6 {
        font-size: 20px;
        line-height: 24px;
      }

      h4 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;
      }

      p {
        font-size: 12px;
        line-height: 14px;
      }

      &_info {
        flex-direction: column;
        gap: 10px;
      }

      &_in {
        gap: 30px;
      }

      &_block {
        gap: 10px;
      }

      &_block_ends {
        flex-direction: column;
        gap: 40px;

        .payment_block_end {
          width: 100%;
          gap: 15px;
        }

        .payment_ends {
          gap: 15px;

          p {
            margin-top: 15px;
          }
        }
      }
    }

    .comment {
      &_in {
        flex-direction: column;
      }

      input {
        font-size: 12px;
        line-height: 14px;
        height: 35px;
      }

      &_left {
        min-width: auto;
        padding: 30px 20px 40px 20px;

        h6 {
          text-align: center;
          margin-bottom: 30px;
        }
      }

      &_right {
        padding: 40px 0;
      }

      h5 {
        font-size: 16px;
        line-height: 19px;
      }

      .comment_popular {
        padding: 40px 0;
        flex-direction: column;

        &_left {
          flex-direction: row;
          justify-content: space-between;

          &_bottom {
            flex-direction: column;
            align-items: end;
            gap: 2px;
          }
        }

        &_right {
          flex-direction: row;
          justify-content: space-between;

          &_bottom {
            flex-direction: column;
            align-items: end;
            gap: 2px;
          }
        }

        .star {
          gap: 5px;

          img {
            width: 15px;
            height: 15px;
          }
        }

        span {
          font-size: 12px;
          line-height: 14px;
        }
      }

      &_text {
        padding: 20px 0;

        p {
          margin-top: 10px;
          font-size: 12px;
          line-height: 14px;
        }
      }

      form {
        gap: 20px;
      }

      h6 {
        font-size: 20px;
        line-height: 24px;
      }

      label {
        font-size: 12px;
        line-height: 14px;
      }

      textarea {
        height: 75px;
      }

      .form_btn {
        font-size: 14px;
        line-height: 17px;
        height: 35px;
      }

      .desktop_star {
        display: none;
      }

      .desktop_btns {
        display: none !important;
      }

      .media_btns {
        display: flex !important;

        button {
          height: 35px;
          font-size: 12px;
          line-height: 14px;
        }
      }

      .media_star {
        display: flex !important;

        .star {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  .product_card_home {
    .main_container {
      flex-direction: column;
      gap: 30px;
    }

    .product_slider {
      top: 26px;
      left: 10px;

      .swiper {
        width: 22px;
        height: 63px;
    }
    }

    .product_card_home_left {
      width: 100%;
    }

    .product_card_home_right {
      width: 100%;
    }

    .home_product {
      padding: 20px;

      h6 {
        font-size: 20px;
        line-height: 22px;
      }

      .home_product_top {
        padding-bottom: 20px;
      }

      .product_card_select {
        padding: 10px 0;
      }

      .home_product_price {
        padding: 20px 0;

        p {
          max-width: 143px;
        }
      }

      .home_product_btns {
        flex-direction: column;
        gap: 10px;

        button {
          width: 100%;
          height: 30px;
        }
      }

      .home_product_links {
        gap: 20px;
        padding: 20px 0;
      }

      ul {
        padding: 20px 0;
        gap: 5px;

        b,span {
          font-size: 10px;
          line-height: 12px;
        }
      }

      p {
        padding-top: 20px;
        font-size: 8px;
        line-height: 10px;
      }
    }
  }

  .product_information {
    .materials {
      .materialsSwiper {
        display: none;
      }

      .materials_media {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .materials_card {
          width: calc(100% / 2 - 15px);
        }
      }
    }
  }

  .return {
    .main_container {
      flex-direction: column;
    }

    &_link {
      padding: 50px 0 0 0;
      background: $color-white;

      ul {
        width: 100%;
        gap: 5px 10px;
        flex-direction: row;
        flex-wrap: wrap;

        a {
          font-size: 12px;
          font-weight: 500;
          line-height: 14.63px;
          color: $color-blue-dark;
          padding: 8px 10px;
          border: 1px solid $color-blue-dark;

          &:hover {
            text-decoration: none;
            background: $color-blue-dark;
            color: $color-white;
          }
        }

        a.active {
          text-decoration: none;
          background: $color-blue-dark;
          color: $color-white;
        }
      }
    }

    &_content {
      padding: 50px 0;

      h3 {
        font-size: 28px;
        line-height: 30.8px;
        text-align: center;
        margin-bottom: 15px;
      }

      span {
        font-size: 12px;
        line-height: 13.2px;
        margin-bottom: 30px;
      }

      h6 {
        font-size: 20px;
        line-height: 22px;
      }

      p {
        font-size: 12px;
        line-height: 18px;
        margin-top: 15px;
      }
    }
  }

  .footer {

    h6 {
      font-size: 16px;
      line-height: 17px;
    }

    &_bottom {
      padding: 12px 0;

      .main_container {
        align-items: start;
        flex-direction: column-reverse;
      }

      p {
        font-size: 8px;
        line-height: 8.8px;
      }

      ul {

        li {
          display: flex;
          align-items: center;
        }

        a,
        span {
          font-size: 8px;
          line-height: 8.8px;
        }
      }
    }

    &_social {
      gap: 3px;

      a {
        width: 20px;
        height: 20px;
      }
    }

    &_block {
      gap: 20px;
    }

    &_links {
      flex-direction: row;
      gap: 30px;

      a {
        max-width: 135px;
      }
    }

    &_link {
      gap: 10px;

      a {
        font-size: 12px;
        line-height: 13px;
      }
    }

    &_line {
      display: none;
    }

    &_top {
      padding: 50px 0;

      .main_container {
        flex-direction: column;
        gap: 40px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .new {

    &_cards {
      gap: 30px;
    }

    &_card {
      width: calc(100%);
      border: none;

      span {
        display: none;
      }

      .new_card_content {
        padding: 0;
      }

      .new_card_bottom {
        display: none;
      }
    }
  }

  .news {
    &_card {
      width: calc(100%);

      &:nth-child(n+3) {
        display: none;
      }
    }

    &_more_in {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_more {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 15.4px;
      color: $color-blue-dark;
    }
  }

  .youtube {
    padding: 50px 0;

    .main_container {
      max-width: 100%;
    }

    .main_title {
      margin-bottom: 34px;
    }

    .youtubeSwiper {
      overflow: visible;
    }

    .slider_btn {
      display: none;
    }

    &_slider {
      display: block;
    }

    .slider_btns {
      display: flex;

      button {
        width: 6px;
        height: 12px;
      }
    }
  }

  .partner {

    .top_logo {
      max-width: 310px;
    }

    .bottom_logo {
      max-width: 266px;
    }
  }

  .catalog_block {
    .catalog_cards {
      .catalog_card {
        width: 100%;

        h6 {
          font-size: 20px;
          line-height: 22px;
        }

        p {
          font-size: 10px;
          line-height: 12px;
        }

        .catalog_card_img {
          button {
            display: block;
          }
        }
      }
    }
  }

  .product_information {

    .about {
      padding: 30px 0;

      .about_block {
        width: calc(100%);

        h6 {
          font-size: 12px;
          line-height: 14px;
        }

        span {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }

    .materials {

      h4 {
        font-size: 16px;
        line-height: 19px;
        margin: 20px 0 10px 0;
      }

      p {
        font-size: 12px;
        line-height: 14px;
      }

      .materials_media {

        .materials_card {
          width: calc(100%);

          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
