@media only screen and (max-width: 1560px) {
    .main {
      &_container {
        max-width: calc(100% - 50px);
      }

      &_header_container {
        max-width: calc(100% - 40px);
      }
    }
}

@media only screen and (max-width: 1220px) {
  .header {
    .main_header_container {
      gap: 50px;
    }

    &_icons {
      gap: 20px;
    }

    &_top {

      &_btn {
        gap: 25px;
      }

      &_link {
        gap: 25px;
      }
    }

    &_bottom {
      &_link {
        gap: 25px;
      }

      .hidden {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 993px) {
  .header {
    .media_menu.active {
      left: -100%;
    }
  }
}

@media only screen and (max-width: 993px) {
  .header {

    &_logo {
      display: flex;
      min-width: auto;
      height: 28px;

      img {
        width: 100%;
      }
    }

    .burger_icon {
      width: 12px;
      height: 12px;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    &_icons {
      gap: 10px;
      a {
        display: flex;
        height: 12px;
      }
    }

    &_top {
      display: none;
    }

    &_bottom {
      padding: 10px 0;
      &_link {
        display: none;
      }
    }
  }

  .catalog {
    display: none;
  }

  .footer {

    h6 {
      font-size: 16px;
      line-height: 17px;
    }

    &_bottom {
      padding: 12px 0;

      .main_container {
        align-items: start;
        flex-direction: column-reverse;
      }

      p {
        font-size: 8px;
        line-height: 8.8px;
      }

      ul {

        li {
          display: flex;
          align-items: center;
        }

        a,
        span {
          font-size: 8px;
          line-height: 8.8px;
        }
      }
    }

    &_social {
      gap: 3px;

      a {
        width: 20px;
        height: 20px;
      }
    }

    &_block {
      gap: 20px;
    }

    &_links {
      flex-direction: row;
      gap: 30px;

      a {
        max-width: 135px;
      }
    }

    &_link {
      gap: 10px;

      a {
        font-size: 12px;
        line-height: 13px;
      }
    }

    &_line {
      display: none;
    }

    &_top {
      padding: 50px 0;

      .main_container {
        flex-direction: column;
        gap: 40px;
      }
    }
  }
}
