@font-face {
  font-family: "Ouvality";
  src: url("../fonts/Ouvality/Ouvality.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1400px;
  margin: 0 auto;
}
.main_header_container {
  max-width: 1500px;
  margin: 0 auto;
}
.main_title {
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  color: #174860;
}

[data-tab-contents] {
  display: none;
}

.active[data-tab-contents] {
  display: block;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.swiper .office_block {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}
.swiper .office_block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  width: 300px;
}
.swiper h5 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  width: 300px;
}
.swiper .background_linear {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 37, 41, 0.5);
  z-index: 2;
}
.swiper .slider_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.swiper .slider_btn {
  width: 45px;
  height: 45px;
  border: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper .slider_btn img {
  width: 6px;
  height: 12px;
}

.catalog_filter {
  position: sticky;
  top: 0;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background: #FFFFFF;
  z-index: 3;
}
.catalog_filter .filter_left {
  display: flex;
  gap: 30px;
}
.catalog_filter .filter_btn {
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  padding: 15px 47px;
  background: #174860;
  color: #FFFFFF;
}
.catalog_filter .select {
  position: relative;
  width: 250px;
}
.catalog_filter .select .selectBtn {
  height: 50px;
  padding: 15px;
  font-size: 16px;
  line-height: 19px;
  color: #212529;
  width: 100%;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid #212529;
}
.catalog_filter .select .selectBtn:after {
  content: "";
  position: absolute;
  top: 45%;
  right: 15px;
  width: 6px;
  height: 6px;
  transform: translateY(-50%) rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transition: 0.2s ease;
}
.catalog_filter .select .selectBtn.toggle {
  border-radius: 3px 3px 0 0;
}
.catalog_filter .select .selectBtn.toggle:after {
  transform: translateY(-50%) rotate(-135deg);
}
.catalog_filter .select .selectDropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  background: var(--bg1);
  border-top: 1px solid #eee;
  z-index: 1;
  background: #fff;
  transform: scale(1, 0);
  transform-origin: top center;
  visibility: hidden;
  transition: 0.2s ease;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.catalog_filter .select .selectDropdown .option {
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.catalog_filter .select .selectDropdown .option:hover {
  background: #f8f8f8;
}
.catalog_filter .select .selectDropdown.toggle {
  visibility: visible;
  transform: scale(1, 1);
}

.header {
  position: relative;
}
.header_logo {
  min-width: 205px;
}
.header_btn {
  width: 130px;
  height: 25px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13.41px;
  color: #FFFFFF;
  padding: 5px 18px;
  border: 1px solid #FFFFFF;
}
.header_icons {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .burger_icon {
  display: none;
}
.header_top {
  background: #174860;
}
.header_top_link {
  margin-left: auto;
  padding: 18px 0;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header_top_item a {
  font-weight: 400;
  font-size: 11px;
  line-height: 13.41px;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.header_top_item a:hover {
  color: #FF0012;
}
.header_top_btn {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header_top_phone {
  font-weight: 500;
  font-size: 11px;
  line-height: 13.41px;
  color: #FFFFFF;
}
.header_bottom {
  border-bottom: 1px solid rgba(33, 37, 41, 0.2509803922);
  padding: 15px 0;
}
.header_bottom .main_header_container {
  justify-content: space-between;
}
.header_bottom_link {
  gap: 50px;
  display: flex;
  align-items: center;
}
.header_bottom_item a,
.header_bottom_item .catalog_btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: #174860;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.header_bottom_item a:hover,
.header_bottom_item .catalog_btn:hover {
  color: #FF0012;
}
.header_bottom_item a:hover svg rect,
.header_bottom_item .catalog_btn:hover svg rect {
  transition: 0.3s ease;
  fill: #FF0012;
}
.header .main_header_container {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header .media_menu {
  padding: 25px 30px;
  position: absolute;
  width: 100%;
  left: -100%;
  top: 100%;
  z-index: 9;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #FFFFFF;
}
.header .media_menu_link {
  display: flex;
  flex-direction: column;
}
.header .media_menu_item {
  padding: 10px 0;
  border-bottom: 1px solid rgba(33, 37, 41, 0.2509803922);
}
.header .media_menu_item a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: #174860;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.header .media_menu_item a:hover {
  color: #FF0012;
}
.header .media_menu .header_top_btn {
  justify-content: center;
  flex-wrap: wrap;
}
.header .media_menu .header_top_btn .header_top_phone {
  color: #174860;
}
.header .media_menu .header_top_btn .header_btn {
  border: 1px solid #174860;
  color: #174860;
}
.header .media_menu.active {
  left: 0;
}

.catalog {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 100%;
  overflow: hidden;
  height: 0;
  background: #FFFFFF;
  transition: 0.3s ease;
}
.catalog_link {
  margin: 50px auto;
  max-width: 740px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.catalog_item {
  width: calc(33.3333333333% - 34px);
}
.catalog_item.center {
  display: flex;
  justify-content: center;
}
.catalog_item.end {
  display: flex;
  justify-content: end;
}
.catalog a {
  width: 100px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: center;
  color: #212529;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.catalog a:hover {
  color: #FF0012;
}
.catalog a img {
  min-width: 100px;
  height: 100px;
}

.catalog.active {
  height: 381px;
}

.home {
  background: #F7F7F7;
}
.home .homeSwiper .swiper-pagination {
  max-width: 1400px;
  margin: 0 auto;
  top: 20%;
  left: 25px;
  right: 25px;
  bottom: auto;
  display: flex;
  justify-content: start;
  gap: 10px;
}
.home .homeSwiper .swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.5019607843);
  margin: 0;
}
.home .homeSwiper .swiper-pagination-bullet-active {
  background: #FFFFFF;
}
.home .home_slide {
  position: relative;
  display: flex;
  align-items: center;
}
.home .home_slide img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .background_linear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(23, 72, 96, 0.5), rgba(23, 72, 96, 0) 100%);
}
.home .main_container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 3;
}
.home h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  color: #FFFFFF;
  max-width: 606px;
}
.home a {
  margin-top: 44px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 18px 48px;
  border: 1px solid #FFFFFF;
}

.chempion_img {
  position: relative;
  transform: translateY(5px);
}
.chempion .main_title {
  text-align: center;
  color: #FFFFFF;
  max-width: 850px;
  margin: 0 auto 50px auto;
}
.chempion_text {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chempion_text a {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: #FFFFFF;
  padding: 15px 48px;
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
}

.news {
  padding: 100px 0;
  background: #F7F7F7;
}
.news_more {
  display: none;
}
.news_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 53px;
}
.news_title a {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  color: #212529;
}
.news_in {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.news_card {
  width: calc(25% - 30px);
}
.news_card img {
  width: 100%;
}
.news_card h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: #174860;
  margin: 30px 0 10px 0;
}
.news_card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  color: #212529;
}

.statistic {
  background: #F7F7F7;
  padding: 95px 0;
}
.statistic .line {
  margin: 0 10px;
  width: 1px;
  min-height: 170px;
  background: rgba(33, 37, 41, 0.2509803922);
}
.statistic_blocks {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.statistic_block {
  max-width: 220px;
}
.statistic img {
  width: 50px;
  height: 50px;
}
.statistic h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  color: #174860;
  margin: 24px 0 10px 0;
}
.statistic p {
  font-size: 14px;
  font-weight: 400;
  line-height: 15.4px;
  color: #B09987;
}

.comfortable {
  background: #FFFFFF;
  padding: 75px 0;
}
.comfortable .main_title {
  text-align: center;
}
.comfortable .comfortableSwiper {
  overflow: visible;
}
.comfortable p {
  max-width: 1090px;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin: 20px auto 53px auto;
}
.comfortable_card a {
  padding: 0;
  border: none;
  display: block;
}
.comfortable_card a img {
  width: 6px;
  height: 12px;
}
.comfortable_card img {
  width: 100%;
}
.comfortable_card h6 {
  text-align: left;
  width: auto;
  transform: none;
  position: static;
  font-size: 28px;
  font-weight: 500;
  line-height: 22px;
  color: #174860;
  margin-bottom: 10px;
}
.comfortable_card span {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #B09987;
}
.comfortable_content {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(33, 37, 41, 0.2509803922);
}

.bestsellers {
  padding: 90px 0 75px 0;
  background: #F7F7F7;
}
.bestsellers h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 30px;
  color: #B09987;
  margin-bottom: 50px;
}
.bestsellers_content {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(33, 37, 41, 0.2509803922);
}
.bestsellers .bestsellersSwiper {
  overflow: visible;
}
.bestsellers_btns {
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
}
.bestsellers_btns button {
  width: 12px;
  height: 24px;
}
.bestsellers_card img {
  width: 100%;
}
.bestsellers_card h6 {
  text-align: left;
  width: auto;
  transform: none;
  position: static;
  font-size: 28px;
  font-weight: 500;
  line-height: 22px;
  color: #174860;
  margin-bottom: 10px;
}
.bestsellers_card span {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #B09987;
}
.bestsellers_card a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: #174860;
  padding: 8px 29px;
  border: 1px solid #174860;
}

.youtube {
  padding: 112px 0;
}
.youtube .main_title {
  text-align: center;
  margin-bottom: 50px;
}
.youtube .youtubeSwiper .swiper-slide img {
  width: 100%;
}
.youtube_slider {
  display: flex;
  align-items: center;
  gap: 50px;
}
.youtube .slider_btn {
  flex-shrink: 0;
}
.youtube .slider_btns {
  padding: 0 25px;
  margin-top: 25px;
  display: none;
  align-items: center;
  justify-content: end;
  gap: 18px;
}
.youtube .slider_btns button {
  flex-shrink: 0;
}

.office_title {
  padding: 90px 0;
  background-image: url("../images/office_bg.png");
  background-size: cover;
  background-position: center;
}
.office .main_title {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  color: #FFFFFF;
}
.office p {
  max-width: 1132px;
  margin: 50px auto 0 auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.partner {
  padding: 105px 0;
}
.partner .main_title {
  text-align: center;
  color: #212529;
  margin-bottom: 53px;
}
.partner_logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.partner .top_logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.partner .bottom_logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.new {
  padding: 75px 0;
}
.new .main_title {
  text-align: center;
  margin-bottom: 75px;
}
.new_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px;
}
.new_card {
  width: calc(33.3333333333% - 20px);
  border: 1px solid rgba(33, 37, 41, 0.2509803922);
}
.new_card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.new_card span {
  font-size: 14px;
  font-weight: 400;
  line-height: 15.4px;
  color: #8C8C8C;
}
.new_card h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  color: #174860;
  margin: 15px 0;
}
.new_card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  color: #212529;
}
.new_card .new_card_bottom {
  margin-top: 8px;
  display: flex;
  justify-content: end;
}
.new_card .new_card_bottom button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #B09987;
}
.new_card_content {
  padding: 20px 30px 30px 30px;
}

.catalog_block {
  padding: 75px 0;
}
.catalog_block .filter_media_btn {
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15.4px;
  color: #212529;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(33, 37, 41, 0.2509803922);
}
.catalog_block_title {
  margin-bottom: 50px;
}
.catalog_block_title .main_title {
  margin-bottom: 15px;
}
.catalog_block_title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #174860;
}
.catalog_block .catalog_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 62px;
}
.catalog_block .catalog_card {
  width: calc(33.3333333333% - 42px);
  transition: 0.3s ease;
}
.catalog_block .catalog_card:hover {
  box-shadow: 0px 4px 30px 0px rgb(219, 219, 219);
}
.catalog_block .catalog_card:hover .size_blocks {
  height: 60px;
}
.catalog_block .catalog_card:hover .card_bottom {
  margin-top: 30px;
}
.catalog_block .catalog_card:hover .catalog_card_img button {
  display: block;
}
.catalog_block .catalog_card:hover .card_bottom button {
  color: #FFFFFF;
  background: #174860;
}
.catalog_block .catalog_card .catalog_card_img {
  width: 100%;
  position: relative;
}
.catalog_block .catalog_card .catalog_card_img img {
  width: 100%;
}
.catalog_block .catalog_card .catalog_card_img button {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 6px 8px;
  background: #FFFFFF;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12.19px;
  color: #174860;
}
.catalog_block .catalog_card .catalog_card_img button img {
  width: 12px;
  height: 8px;
}
.catalog_block .catalog_card h6 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30.48px;
  color: #174860;
}
.catalog_block .catalog_card p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #174860;
  margin-bottom: 30px;
}
.catalog_block .catalog_card_content {
  padding: 20px;
}
.catalog_block .catalog_card .card_bottom {
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog_block .catalog_card .card_bottom h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  color: #174860;
}
.catalog_block .catalog_card .card_bottom h5 b {
  font-weight: 500;
}
.catalog_block .catalog_card .card_bottom button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: #174860;
  border: 1px solid #174860;
  padding: 8px 30px;
  background-color: transparent;
}
.catalog_block .catalog_card .size_blocks {
  overflow: hidden;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  transition: 0.3s ease;
}
.catalog_block .catalog_card .size_blocks .size_block {
  width: calc(16.6666666667% - 5px);
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.41px;
  text-align: center;
  color: #174860;
  border: 1px solid #174860;
  padding: 6px;
  transition: 0.3s ease;
}
.catalog_block .catalog_card .size_blocks .size_block:hover {
  background: #174860;
  color: #FFFFFF;
}
.catalog_block .catalog_card .size_blocks .size_block.active {
  background: #174860;
  color: #FFFFFF;
}
.catalog_block .catalog_card .size_blocks .size_block.disable {
  color: rgba(33, 37, 41, 0.2509803922);
  border-color: rgba(33, 37, 41, 0.2509803922);
}
.catalog_block .catalog_card .size_blocks .size_block.disable:hover {
  cursor: not-allowed;
  background: transparent;
}
.catalog_block .catalog_card .catalog_card_filter {
  margin: 15px 0;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid rgba(33, 37, 41, 0.2509803922);
  border-bottom: 1px solid rgba(33, 37, 41, 0.2509803922);
}
.catalog_block .catalog_card .card_size {
  display: flex;
  gap: 13px;
}
.catalog_block .catalog_card .vodiapicker {
  display: none;
}
.catalog_block .catalog_card .lang-select .btn-select span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #212529;
}
.catalog_block .catalog_card #a {
  padding: 10px;
}
.catalog_block .catalog_card #a img, .catalog_block .catalog_card .btn-select img {
  width: 12px;
  height: 12px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}
.catalog_block .catalog_card #a li {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.catalog_block .catalog_card #a li {
  cursor: pointer;
}
.catalog_block .catalog_card #a li span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #212529;
}
.catalog_block .catalog_card .b {
  position: absolute;
  display: none;
  width: 100%;
  display: none;
  max-width: 200px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background: white;
  border-radius: 5px;
}
.catalog_block .catalog_card .btn-select {
  width: 100%;
}
.catalog_block .catalog_card .btn-select li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.catalog_block .catalog_card .btn-select:focus {
  outline: none;
}
.catalog_block .catalog_card .select {
  position: relative;
  width: 250px;
}
.catalog_block .catalog_card .select .selectBtn {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #212529;
  width: 100%;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.catalog_block .catalog_card .select .selectBtn img {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  overflow: hidden;
}
.catalog_block .catalog_card .select .selectBtn.toggle:after {
  transform: translateY(-50%) rotate(-135deg);
}
.catalog_block .catalog_card .select .selectDropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  border-top: 1px solid #eee;
  z-index: 1;
  background: #fff;
  transform: scale(1, 0);
  transform-origin: top center;
  visibility: hidden;
  transition: 0.2s ease;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.catalog_block .catalog_card .select .selectDropdown .option {
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #212529;
  display: flex;
  gap: 10px;
  align-items: center;
}
.catalog_block .catalog_card .select .selectDropdown .option img {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  overflow: hidden;
}
.catalog_block .catalog_card .select .selectDropdown .option:hover {
  background: #f8f8f8;
}
.catalog_block .catalog_card .select .selectDropdown.toggle {
  visibility: visible;
  transform: scale(1, 1);
}

.product_card_comfortable .main_title {
  text-align: left;
  margin-bottom: 50px;
}

.product_card_home {
  background: #F7F7F7;
}
.product_card_home .main_container {
  display: flex;
  gap: 20px;
}

.product_info {
  margin-top: 75px;
}
.product_info .tabs {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-bottom: 50px;
}
.product_info .tab {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #174860;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.product_info .tab.active {
  border-bottom: 1px solid #B09987;
}
.product_info .description_blocks {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product_info .description_blocks h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  color: #174860;
  margin-bottom: 15px;
}
.product_info .description_blocks p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
}
.product_info .description_blocks .description_text {
  margin-bottom: 20px;
}
.product_info .description .descriptionSwiper {
  margin-top: 57px;
  overflow: visible;
}
.product_info .description .descriptionSwiper img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.product_info .description .descriptionSwiper .swiper-slide {
  height: 327px;
}
.product_info .certificates {
  display: flex;
  gap: 50px;
}
.product_info .certificates p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
}
.product_info .certificates h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  color: #174860;
}
.product_info .certificates a {
  text-decoration: underline;
}
.product_info .certificates ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
}
.product_info .certificates .certificates_left,
.product_info .certificates .certificates_right {
  max-width: 675px;
}
.product_info .certificates .certificates_left,
.product_info .certificates .certificates_right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.product_info .certificates .certificates_right_block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product_info .certificates .certificates_left_block img {
  margin-bottom: 20px;
}
.product_info .payment h6 {
  font-size: 28px;
  font-weight: 500;
  line-height: 34.13px;
  color: #174860;
}
.product_info .payment h6 b {
  font-weight: 600;
}
.product_info .payment h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  color: #212529;
  margin-bottom: 30px;
}
.product_info .payment h4 a {
  text-decoration: underline;
}
.product_info .payment p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
}
.product_info .payment p b {
  font-weight: 500;
}
.product_info .payment a {
  text-decoration: underline;
}
.product_info .payment .blue_text {
  color: #5799B9;
}
.product_info .payment_info {
  padding: 15px 0;
  border-bottom: 1px solid rgba(33, 37, 41, 0.2509803922);
  display: flex;
  align-items: start;
  gap: 40px;
}
.product_info .payment_info:last-child {
  border: none;
}
.product_info .payment_info span {
  min-width: 320px;
}
.product_info .payment_info p {
  max-width: 1040px;
}
.product_info .payment_in {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.product_info .payment_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product_info .payment_block_ends {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 40px;
}
.product_info .payment_block_ends .payment_block_end {
  width: calc(33.3333333333% - 27px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product_info .payment_block_ends p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
}
.product_info .payment_block_ends p .phone {
  font-weight: 500;
}
.product_info .payment_block_ends .payment_block_ends {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product_info .payment_block_ends .payment_ends {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.product_info .payment_block_ends .payment_ends span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
}
.product_info .payment_block_ends .payment_ends p {
  margin-top: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #8C8C8C;
}
.product_info .payment_block_ends .end_text {
  font-weight: 500;
}
.product_info .payment_block_ends .payment_ends_block {
  display: flex;
  align-items: start;
  gap: 10px;
}
.product_info .payment_block_ends .ends_text {
  display: flex;
  flex-direction: column;
}
.product_info .comment_in {
  display: flex;
  gap: 100px;
}
.product_info .comment .media_star {
  display: none !important;
}
.product_info .comment .media_star .star {
  margin: 0;
}
.product_info .comment .media_btns {
  display: none !important;
}
.product_info .comment h6 {
  font-size: 28px;
  font-weight: 500;
  line-height: 34.13px;
  color: #174860;
}
.product_info .comment h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  color: #174860;
}
.product_info .comment_left {
  padding: 50px 100px;
  background: #F7F7F7;
  min-width: 540px;
}
.product_info .comment form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product_info .comment label {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #212529;
  margin-bottom: 10px;
}
.product_info .comment input {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #212529;
  height: 40px;
  background: #FFFFFF;
  border: none;
}
.product_info .comment .star {
  margin: 50px 0 30px 0;
}
.product_info .comment textarea {
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #212529;
  background: #FFFFFF;
  border: none;
  height: 137px;
}
.product_info .comment textarea:focus {
  outline: none;
}
.product_info .comment .input_block {
  display: flex;
  flex-direction: column;
}
.product_info .comment .form_btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 11px;
  height: 40px;
  width: 100%;
  background: #174860;
}
.product_info .comment .input_btns {
  display: flex;
  gap: 20px;
}
.product_info .comment .input_btns button {
  width: 70px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: center;
  color: #212529;
  background-color: #FFFFFF;
}
.product_info .comment .input_btns button.active {
  background: #174860;
  color: #FFFFFF;
}
.product_info .comment_right {
  max-width: 860px;
  padding: 50px 0;
}
.product_info .comment .comment_popular {
  padding: 50px 0 75px 0;
  display: flex;
  gap: 75px;
}
.product_info .comment .comment_popular_left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product_info .comment .comment_popular_right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product_info .comment .comment_popular .star {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product_info .comment .comment_popular .star img {
  width: 20px;
  height: 20px;
}
.product_info .comment .comment_popular_right_bottom {
  display: flex;
  align-items: center;
  gap: 15px;
}
.product_info .comment .comment_popular_left_bottom {
  display: flex;
  align-items: center;
  gap: 15px;
}
.product_info .comment_text {
  padding: 30px 0;
  border-top: 1px solid rgba(33, 37, 41, 0.2509803922);
}
.product_info .comment_text span {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #8C8C8C;
  margin-top: 5px;
}
.product_info .comment_text_title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.product_info .comment_text .star {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product_info .comment_text .star img {
  width: 20px;
  height: 20px;
}
.product_info .comment_text p {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
}

.product_information {
  margin-top: 100px;
}
.product_information .tabs {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-bottom: 50px;
}
.product_information .tab {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #174860;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.product_information .tab.active {
  border-bottom: 1px solid #B09987;
}
.product_information .matress {
  padding: 57px 0;
  background: #EBE4DC;
}
.product_information .matress .matress_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 750px;
}
.product_information .matress .matress_right {
  max-width: 656px;
}
.product_information .matress .matress_right img {
  max-width: 656px;
}
.product_information .matress .main_container {
  display: flex;
  gap: 47px;
}
.product_information .matress h6 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: #174860;
  margin-bottom: 10px;
}
.product_information .matress h6 span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background: #174860;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_information .matress p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
}
.product_information .materials {
  padding-bottom: 30px;
}
.product_information .materials .materials_media {
  display: none;
}
.product_information .materials .materials_card {
  display: flex;
  flex-direction: column;
}
.product_information .materials .materials_card img {
  max-width: 250px;
}
.product_information .materials h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  color: #174860;
  margin: 30px 0 15px 0;
}
.product_information .materials p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
}
.product_information .about {
  background: #F7F7F7;
  padding: 72px 0;
}
.product_information .about .about_in {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.product_information .about .about_block {
  width: calc(25% - 27px);
  display: flex;
  align-items: center;
  gap: 15px;
}
.product_information .about .about_block img {
  flex-shrink: 0;
}
.product_information .about .about_block h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  color: #174860;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.product_information .about .about_block span {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #B09987;
}

.product_card_home {
  background: #F7F7F7;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.product_card_home .main_container {
  display: flex;
  align-items: stretch;
  gap: 20px;
  max-width: 1600px;
  margin-bottom: 20px;
}
.product_card_home .product_card_home_left {
  background: #FFFFFF;
  position: relative;
  width: calc(100% - 522px);
}
.product_card_home .product_card_home_left .swiper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product_card_home .product_slider {
  position: absolute;
  top: 76px;
  left: 30px;
}
.product_card_home .product_slider .swiper {
  width: 65px;
  height: 190px;
}
.product_card_home .product_slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product_card_home .product_card_home_right {
  width: 502px;
  background: #FFFFFF;
}
.product_card_home .home_product {
  padding: 70px 50px 40px 50px;
}
.product_card_home .home_product .product_card_select {
  padding: 20px 0;
  background: transparent;
  border-bottom: 1px solid rgba(33, 37, 41, 0.2509803922);
}
.product_card_home .home_product .product_card_select .select {
  width: 100%;
}
.product_card_home .home_product .product_card_select .select .selectBtn {
  height: auto;
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  border: none;
}
.product_card_home .home_product h6 {
  font-size: 28px;
  font-weight: 500;
  line-height: 22px;
  color: #174860;
}
.product_card_home .home_product .home_product_top {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(33, 37, 41, 0.2509803922);
}
.product_card_home .home_product .home_product_top button {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12.19px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #212529;
}
.product_card_home .home_product .home_product_price {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_card_home .home_product .home_product_price p {
  padding: 0;
  text-align: left;
  max-width: 178px;
  display: flex;
  align-items: start;
  gap: 5px;
}
.product_card_home .home_product .home_product_price span {
  font-size: 10px;
  font-weight: 400;
  line-height: 12.19px;
  color: #8C8C8C;
  text-decoration: none;
}
.product_card_home .home_product .home_product_price span b {
  font-weight: 400;
  text-decoration: underline;
}
.product_card_home .home_product .home_product_btns {
  display: flex;
  gap: 20px;
}
.product_card_home .home_product .home_product_btns .btn_blue {
  color: #FFFFFF;
  background-color: #174860;
}
.product_card_home .home_product .home_product_btns .btn_white {
  color: #174860;
  border: 1px solid #174860;
}
.product_card_home .home_product .home_product_btns button {
  text-transform: uppercase;
  width: 500%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  height: 36px;
}
.product_card_home .home_product .home_product_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 0 30px 0;
  border-bottom: 1px solid rgba(33, 37, 41, 0.2509803922);
}
.product_card_home .home_product .home_product_links a {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #8C8C8C;
  text-decoration: underline;
}
.product_card_home .home_product ul {
  border-bottom: 1px solid rgba(33, 37, 41, 0.2509803922);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 30px 0;
}
.product_card_home .home_product ul b {
  font-weight: 500;
}
.product_card_home .home_product ul span {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: #212529;
}
.product_card_home .home_product p {
  padding-top: 30px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.19px;
  text-align: center;
  color: #8C8C8C;
}
.product_card_home .home_product p span {
  text-decoration: underline;
}

.return .main_container {
  display: flex;
  align-items: stretch;
}
.return_content {
  padding: 75px 0 75px 100px;
}
.return_content h3 {
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  color: #174860;
  margin-bottom: 15px;
}
.return_content span {
  font-size: 14px;
  font-weight: 400;
  line-height: 15.4px;
  color: #8C8C8C;
  margin-bottom: 50px;
}
.return_content h6 {
  font-size: 28px;
  font-weight: 500;
  line-height: 30.8px;
  color: #174860;
}
.return_content p {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
}
.return_link {
  padding: 100px;
  background: #F7F7F7;
}
.return_link ul {
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.return_link ul a {
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  color: #212529;
}
.return_link ul a:hover {
  text-decoration: underline;
}
.return_link ul a.active {
  text-decoration: underline;
}

.footer_top {
  padding: 90px 0;
  background: #174860;
}
.footer_top .main_container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.footer_bottom {
  background-color: #B09987;
  padding: 23px 0;
}
.footer_bottom .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.footer_bottom p {
  font-size: 14px;
  font-weight: 400;
  line-height: 15.4px;
  color: #FFFFFF;
}
.footer_bottom ul {
  display: flex;
  align-items: center;
  gap: 3px;
}
.footer_bottom ul a,
.footer_bottom ul span {
  min-width: -moz-min-content;
  min-width: min-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.4px;
  color: #FFFFFF;
}
.footer_social {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer_line {
  margin: 0 20px;
  flex-shrink: 0;
  min-height: 288px;
  width: 1px;
  background: #B09987;
}
.footer_block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer_links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_links_two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.footer_link {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_link a {
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  color: #FFFFFF;
}
.footer h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: #B09987;
}

@media only screen and (max-width: 1560px) {
  .main_container {
    max-width: calc(100% - 50px);
  }
  .main_header_container {
    max-width: calc(100% - 40px);
  }
}
@media only screen and (max-width: 1220px) {
  .header .main_header_container {
    gap: 50px;
  }
  .header_icons {
    gap: 20px;
  }
  .header_top_btn {
    gap: 25px;
  }
  .header_top_link {
    gap: 25px;
  }
  .header_bottom_link {
    gap: 25px;
  }
  .header_bottom .hidden {
    display: none;
  }
  .product_info .tabs {
    gap: 15px 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .product_info .tab {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 10px;
  }
  .product_info .comment_in {
    gap: 40px;
  }
  .product_info .comment_left {
    padding: 50px;
    min-width: 450px;
  }
  .product_info .comment .comment_popular {
    justify-content: space-between;
    gap: 20px;
  }
  .product_information {
    margin-top: 50px;
  }
  .product_information .tabs {
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .product_information .tab {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 10px;
  }
  .product_information .matress {
    padding: 30px 0 0 0;
  }
  .product_information .matress .main_container {
    flex-direction: column;
    gap: 30px;
  }
  .product_information .matress h6 {
    font-size: 16px;
    line-height: 22px;
    gap: 15px;
  }
  .product_information .matress p {
    font-size: 12px;
    line-height: 16px;
  }
  .product_information .matress .matress_left {
    gap: 30px;
  }
  .product_information .matress .matress_left,
  .product_information .matress .matress_right {
    max-width: 100%;
  }
  .product_information .matress .matress_right img {
    width: 100%;
    max-width: 100%;
  }
  .product_information .about .about_in {
    gap: 20px;
  }
  .product_information .about .about_block {
    width: calc(50% - 10px);
  }
}
@media only screen and (max-width: 1150px) {
  .catalog_filter .filter_btn {
    padding: 15px 25px;
  }
  .catalog_filter .filter_left {
    gap: 10px;
  }
  .catalog_filter .select {
    width: 220px;
  }
}
@media only screen and (min-width: 993px) {
  .header .media_menu.active {
    left: -100%;
  }
}
@media only screen and (max-width: 993px) {
  .catalog_filter {
    padding: 30px 0;
    flex-direction: column;
    gap: 10px;
  }
  .catalog_filter .select {
    width: 100%;
  }
  .catalog_filter .select .selectBtn {
    padding: 12px 15px;
    height: 40px;
    font-size: 12px;
    line-height: 13px;
  }
  .catalog_filter .select .selectDropdown .option {
    font-size: 12px;
    line-height: 13px;
  }
  .catalog_filter .filter_btn {
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
    height: 40px;
  }
  .filter_left {
    flex-direction: column;
  }
  .catalog_block {
    padding: 50px 0;
  }
  .catalog_block .title_container {
    max-width: 100%;
  }
  .catalog_block .catalog_block_title {
    margin-bottom: 0;
  }
  .catalog_block .title_content {
    padding: 0 25px;
  }
  .catalog_block .filter_media_btn {
    display: flex;
  }
  .catalog_block_title {
    text-align: center;
  }
  .catalog_block_title border .main_title {
    margin-bottom: 20px;
  }
  .catalog_block_title p {
    font-size: 12px;
    line-height: 13px;
  }
  .catalog_block .catalog_cards {
    gap: 30px;
  }
  .catalog_block .catalog_cards .catalog_card {
    width: calc(50% - 15px);
  }
  .swiper .slider_text {
    gap: 23px;
  }
  .swiper h6,
  .swiper h5 {
    font-size: 12px;
    max-width: 135px;
    line-height: 13.2px;
  }
  .swiper .slider_btn {
    width: 20px;
    height: 20px;
  }
  .swiper .slider_btn img {
    width: 4px;
    height: 8px;
  }
  .main_title {
    font-size: 28px;
    line-height: 30.8px;
  }
  .header_logo {
    display: flex;
    min-width: auto;
    height: 28px;
  }
  .header_logo img {
    width: 100%;
  }
  .header .burger_icon {
    width: 12px;
    height: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .header_icons {
    gap: 10px;
  }
  .header_icons a {
    display: flex;
    height: 12px;
  }
  .header_top {
    display: none;
  }
  .header_bottom {
    padding: 10px 0;
  }
  .header_bottom_link {
    display: none;
  }
  .catalog {
    display: none;
  }
  .home .home_slide {
    height: 500px;
  }
  .home .homeSwiper .swiper-pagination {
    top: 16%;
    gap: 6px;
  }
  .home .homeSwiper .swiper-pagination-bullet {
    width: 15px;
    height: 3px;
  }
  .home h1 {
    font-size: 36px;
    line-height: 39.6px;
  }
  .home a {
    margin-top: 75px;
    padding: 11px 27px;
  }
  .statistic {
    padding: 48px 0;
  }
  .statistic .line {
    display: none;
  }
  .statistic_block {
    max-width: 100%;
    width: 50%;
  }
  .statistic_block:nth-child(4) {
    padding-left: 25px;
  }
  .statistic_block img {
    width: 30px;
    height: 30px;
  }
  .statistic_block h6 {
    margin: 20px 0 10px 0;
    font-size: 12px;
    line-height: 13.2px;
  }
  .statistic_block p {
    font-size: 10px;
    line-height: 11px;
  }
  .statistic .start_border {
    padding-bottom: 25px;
    padding-right: 25px;
  }
  .statistic .two_border {
    padding-left: 25px;
    padding-bottom: 25px;
    border-left: 1px solid rgba(33, 37, 41, 0.2509803922);
  }
  .statistic .three_border {
    padding-right: 25px;
    padding-top: 25px;
    border-top: 1px solid rgba(33, 37, 41, 0.2509803922);
  }
  .statistic .end_border {
    padding-top: 25px;
    padding-left: 25px;
    border-top: 1px solid rgba(33, 37, 41, 0.2509803922);
    border-left: 1px solid rgba(33, 37, 41, 0.2509803922);
  }
  .comfortable {
    padding: 50px 0;
  }
  .comfortable .main_title {
    font-size: 20px;
    line-height: 22px;
  }
  .comfortable_content {
    padding: 10px 0;
  }
  .comfortable p {
    font-size: 12px;
    line-height: 15px;
    margin: 15px 0 50px 0;
  }
  .comfortable_card h6 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .comfortable_card span {
    font-size: 12px;
    line-height: 13px;
  }
  .bestsellers {
    padding: 50px 0 24px 0;
  }
  .bestsellers h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .bestsellers_content {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 10px 0;
  }
  .bestsellers_card h6 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .bestsellers_card span {
    font-size: 12px;
    line-height: 13px;
  }
  .bestsellers_card a {
    font-size: 12px;
    line-height: 14.63px;
    padding: 4.5px;
    width: 100%;
    text-align: center;
  }
  .bestsellers_btns {
    gap: 18px;
    margin-top: 25px;
  }
  .bestsellers_btns button {
    width: 6px;
    height: 12px;
  }
  .chempion_img {
    height: 360px;
  }
  .chempion_img img {
    width: 100%;
    height: 360px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .chempion_text a {
    padding: 12px 19px;
    font-size: 12px;
    line-height: 14.63px;
  }
  .chempion .main_title {
    font-size: 28px;
    line-height: 30.8px;
    margin-bottom: 30px;
  }
  .news {
    padding: 50px 0;
  }
  .news_title {
    margin-bottom: 30px;
    justify-content: center;
  }
  .news_title .main_title {
    text-align: center;
  }
  .news_title a {
    display: none;
  }
  .news_in {
    gap: 30px;
  }
  .news_card {
    width: calc(50% - 15px);
  }
  .news_card h6 {
    margin: 15px 0 10px 0;
    font-size: 16px;
    line-height: 17.6px;
  }
  .news_card p {
    font-size: 12px;
    line-height: 13.2px;
  }
  .office {
    background: #174860;
  }
  .office_title {
    padding: 50px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/office_media_bg.png");
  }
  .office .main_title {
    font-size: 28px;
    line-height: 110%;
  }
  .office p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }
  .partner {
    padding: 50px 0;
  }
  .partner_logo {
    flex-direction: column;
    gap: 5px;
  }
  .partner .main_title {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 22px;
  }
  .new {
    padding: 50px 0;
  }
  .new .main_title {
    margin-bottom: 30px;
  }
  .new_card {
    width: calc(50% - 15px);
  }
  .new_card h6 {
    margin: 15px 0 10px 0;
    font-size: 16px;
    line-height: 17.6px;
  }
  .new_card p {
    font-size: 12px;
    line-height: 13.2px;
  }
  .product_card_comfortable .main_title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 30px;
  }
  .product_info {
    margin-top: 40px;
  }
  .product_info .description_blocks h6 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .product_info .description_blocks p {
    font-size: 12px;
    line-height: 14px;
  }
  .product_info .description_blocks .description_text {
    margin-bottom: 10px;
  }
  .product_info .description .descriptionSwiper {
    margin-top: 30px;
  }
  .product_info .description .descriptionSwiper .swiper-slide {
    height: 190px;
  }
  .product_info .certificates {
    flex-direction: column;
  }
  .product_info .certificates h6 {
    font-size: 16px;
    line-height: 19px;
  }
  .product_info .certificates p {
    font-size: 12px;
    line-height: 14px;
  }
  .product_info .certificates ul li {
    font-size: 12px;
    line-height: 14px;
  }
  .product_info .certificates .certificates_left,
  .product_info .certificates .certificates_right {
    gap: 30px;
  }
  .product_info .certificates .certificates_right_block {
    gap: 10px;
  }
  .product_info .payment h6 {
    font-size: 20px;
    line-height: 24px;
  }
  .product_info .payment h4 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
  }
  .product_info .payment p {
    font-size: 12px;
    line-height: 14px;
  }
  .product_info .payment_info {
    flex-direction: column;
    gap: 10px;
  }
  .product_info .payment_in {
    gap: 30px;
  }
  .product_info .payment_block {
    gap: 10px;
  }
  .product_info .payment_block_ends {
    flex-direction: column;
    gap: 40px;
  }
  .product_info .payment_block_ends .payment_block_end {
    width: 100%;
    gap: 15px;
  }
  .product_info .payment_block_ends .payment_ends {
    gap: 15px;
  }
  .product_info .payment_block_ends .payment_ends p {
    margin-top: 15px;
  }
  .product_info .comment_in {
    flex-direction: column;
  }
  .product_info .comment input {
    font-size: 12px;
    line-height: 14px;
    height: 35px;
  }
  .product_info .comment_left {
    min-width: auto;
    padding: 30px 20px 40px 20px;
  }
  .product_info .comment_left h6 {
    text-align: center;
    margin-bottom: 30px;
  }
  .product_info .comment_right {
    padding: 40px 0;
  }
  .product_info .comment h5 {
    font-size: 16px;
    line-height: 19px;
  }
  .product_info .comment .comment_popular {
    padding: 40px 0;
    flex-direction: column;
  }
  .product_info .comment .comment_popular_left {
    flex-direction: row;
    justify-content: space-between;
  }
  .product_info .comment .comment_popular_left_bottom {
    flex-direction: column;
    align-items: end;
    gap: 2px;
  }
  .product_info .comment .comment_popular_right {
    flex-direction: row;
    justify-content: space-between;
  }
  .product_info .comment .comment_popular_right_bottom {
    flex-direction: column;
    align-items: end;
    gap: 2px;
  }
  .product_info .comment .comment_popular .star {
    gap: 5px;
  }
  .product_info .comment .comment_popular .star img {
    width: 15px;
    height: 15px;
  }
  .product_info .comment .comment_popular span {
    font-size: 12px;
    line-height: 14px;
  }
  .product_info .comment_text {
    padding: 20px 0;
  }
  .product_info .comment_text p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
  }
  .product_info .comment form {
    gap: 20px;
  }
  .product_info .comment h6 {
    font-size: 20px;
    line-height: 24px;
  }
  .product_info .comment label {
    font-size: 12px;
    line-height: 14px;
  }
  .product_info .comment textarea {
    height: 75px;
  }
  .product_info .comment .form_btn {
    font-size: 14px;
    line-height: 17px;
    height: 35px;
  }
  .product_info .comment .desktop_star {
    display: none;
  }
  .product_info .comment .desktop_btns {
    display: none !important;
  }
  .product_info .comment .media_btns {
    display: flex !important;
  }
  .product_info .comment .media_btns button {
    height: 35px;
    font-size: 12px;
    line-height: 14px;
  }
  .product_info .comment .media_star {
    display: flex !important;
  }
  .product_info .comment .media_star .star {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .product_info .comment .media_star .star img {
    width: 30px;
    height: 30px;
  }
  .product_card_home .main_container {
    flex-direction: column;
    gap: 30px;
  }
  .product_card_home .product_slider {
    top: 26px;
    left: 10px;
  }
  .product_card_home .product_slider .swiper {
    width: 22px;
    height: 63px;
  }
  .product_card_home .product_card_home_left {
    width: 100%;
  }
  .product_card_home .product_card_home_right {
    width: 100%;
  }
  .product_card_home .home_product {
    padding: 20px;
  }
  .product_card_home .home_product h6 {
    font-size: 20px;
    line-height: 22px;
  }
  .product_card_home .home_product .home_product_top {
    padding-bottom: 20px;
  }
  .product_card_home .home_product .product_card_select {
    padding: 10px 0;
  }
  .product_card_home .home_product .home_product_price {
    padding: 20px 0;
  }
  .product_card_home .home_product .home_product_price p {
    max-width: 143px;
  }
  .product_card_home .home_product .home_product_btns {
    flex-direction: column;
    gap: 10px;
  }
  .product_card_home .home_product .home_product_btns button {
    width: 100%;
    height: 30px;
  }
  .product_card_home .home_product .home_product_links {
    gap: 20px;
    padding: 20px 0;
  }
  .product_card_home .home_product ul {
    padding: 20px 0;
    gap: 5px;
  }
  .product_card_home .home_product ul b, .product_card_home .home_product ul span {
    font-size: 10px;
    line-height: 12px;
  }
  .product_card_home .home_product p {
    padding-top: 20px;
    font-size: 8px;
    line-height: 10px;
  }
  .product_information .materials .materialsSwiper {
    display: none;
  }
  .product_information .materials .materials_media {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .product_information .materials .materials_media .materials_card {
    width: calc(50% - 15px);
  }
  .return .main_container {
    flex-direction: column;
  }
  .return_link {
    padding: 50px 0 0 0;
    background: #FFFFFF;
  }
  .return_link ul {
    width: 100%;
    gap: 5px 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .return_link ul a {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    color: #174860;
    padding: 8px 10px;
    border: 1px solid #174860;
  }
  .return_link ul a:hover {
    text-decoration: none;
    background: #174860;
    color: #FFFFFF;
  }
  .return_link ul a.active {
    text-decoration: none;
    background: #174860;
    color: #FFFFFF;
  }
  .return_content {
    padding: 50px 0;
  }
  .return_content h3 {
    font-size: 28px;
    line-height: 30.8px;
    text-align: center;
    margin-bottom: 15px;
  }
  .return_content span {
    font-size: 12px;
    line-height: 13.2px;
    margin-bottom: 30px;
  }
  .return_content h6 {
    font-size: 20px;
    line-height: 22px;
  }
  .return_content p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 15px;
  }
  .footer h6 {
    font-size: 16px;
    line-height: 17px;
  }
  .footer_bottom {
    padding: 12px 0;
  }
  .footer_bottom .main_container {
    align-items: start;
    flex-direction: column-reverse;
  }
  .footer_bottom p {
    font-size: 8px;
    line-height: 8.8px;
  }
  .footer_bottom ul li {
    display: flex;
    align-items: center;
  }
  .footer_bottom ul a,
  .footer_bottom ul span {
    font-size: 8px;
    line-height: 8.8px;
  }
  .footer_social {
    gap: 3px;
  }
  .footer_social a {
    width: 20px;
    height: 20px;
  }
  .footer_block {
    gap: 20px;
  }
  .footer_links {
    flex-direction: row;
    gap: 30px;
  }
  .footer_links a {
    max-width: 135px;
  }
  .footer_link {
    gap: 10px;
  }
  .footer_link a {
    font-size: 12px;
    line-height: 13px;
  }
  .footer_line {
    display: none;
  }
  .footer_top {
    padding: 50px 0;
  }
  .footer_top .main_container {
    flex-direction: column;
    gap: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .new_cards {
    gap: 30px;
  }
  .new_card {
    width: 100%;
    border: none;
  }
  .new_card span {
    display: none;
  }
  .new_card .new_card_content {
    padding: 0;
  }
  .new_card .new_card_bottom {
    display: none;
  }
  .news_card {
    width: 100%;
  }
  .news_card:nth-child(n+3) {
    display: none;
  }
  .news_more_in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .news_more {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.4px;
    color: #174860;
  }
  .youtube {
    padding: 50px 0;
  }
  .youtube .main_container {
    max-width: 100%;
  }
  .youtube .main_title {
    margin-bottom: 34px;
  }
  .youtube .youtubeSwiper {
    overflow: visible;
  }
  .youtube .slider_btn {
    display: none;
  }
  .youtube_slider {
    display: block;
  }
  .youtube .slider_btns {
    display: flex;
  }
  .youtube .slider_btns button {
    width: 6px;
    height: 12px;
  }
  .partner .top_logo {
    max-width: 310px;
  }
  .partner .bottom_logo {
    max-width: 266px;
  }
  .catalog_block .catalog_cards .catalog_card {
    width: 100%;
  }
  .catalog_block .catalog_cards .catalog_card h6 {
    font-size: 20px;
    line-height: 22px;
  }
  .catalog_block .catalog_cards .catalog_card p {
    font-size: 10px;
    line-height: 12px;
  }
  .catalog_block .catalog_cards .catalog_card .catalog_card_img button {
    display: block;
  }
  .product_information .about {
    padding: 30px 0;
  }
  .product_information .about .about_block {
    width: 100%;
  }
  .product_information .about .about_block h6 {
    font-size: 12px;
    line-height: 14px;
  }
  .product_information .about .about_block span {
    font-size: 12px;
    line-height: 14px;
  }
  .product_information .materials h4 {
    font-size: 16px;
    line-height: 19px;
    margin: 20px 0 10px 0;
  }
  .product_information .materials p {
    font-size: 12px;
    line-height: 14px;
  }
  .product_information .materials .materials_media .materials_card {
    width: 100%;
  }
  .product_information .materials .materials_media .materials_card img {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */